a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}
.content4{
    height:250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    

}